
.container {
    width: 1170px;
    margin: auto;
    padding: 0 15px;
}

.mtb {
    margin-top: 3rem;
    margin-bottom: 3rem;
}

.table {
    width: 100%;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.2);
    border-collapse: collapse;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}


.table th, table td {
    text-align: left;
    padding: 10px;
}

.table th {
    background-color: rgb(219, 219, 219);
    color: blue;
} 


.table tr:nth-child(odd) {
    background: #f5f5f5;
}

.table tr {
    transition: all .3s;
}

.table tr:hover {
    background-color: #ccc;
}

.table_responsive {
    overflow-x: auto;
}

td {height: auto;}


/* csvviews */

#head {
    background: rgb(245, 167, 23);
    height: 5vh;
    width: 100%;
    padding: 5px;
}

#head p{
    text-align: left;
    text-shadow: aquamarine;
    font-family: Arial, Helvetica, sans-serif;
}

#head b{
    font-weight: bold;
}

#main {
    padding: 20px;
    height: 20px;
    width: 10%;

}

.caption {
    text-align: left;
}


#fetch {
    padding: 3px;
    height: 10px;
    width: 10%;
    background: green;
    border-radius: 5px;
    color: #f5f5f5;
}

.href {
    text-decoration: none;
}

#href {
    text-decoration: none;
    font-size: 10px;
    padding-left: 40px;
}

.minimal-indent {
    list-style: none;
    border: 0;
    vertical-align: baseline;
    background-color: #f3f3f3;
    outline: 0;
    border-bottom: 1px solid #b4b4b4;
    border-right: 1px solid #dfdfdf;
    border-radius: 1px;
    color: #666;
    font: bold 10px/1 "helvetica neue", helvetica, arial, sans-serif;
    margin: 0;
    padding: 2px 0;
    text-shadow: 0 1px 1px #fff;
    width: 90px;
}

#swp {
    text-decoration: none;
    color: black;
}

