{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="{% static 'main/css/styles.css' %}">
    
</head>
<body>
<div class="container mtb">

    <div class="table_responsive">
        
        <table class="table">

            <div id="head">
                <p><a href="{% url 'home'%}" id="swp"><b>STAR WARS </b> Explorer </a><a href="{% url 'collections'%}" id="href">Collections</a></p>
            </div>

            <div id="main">
            <caption class="caption">Collections <span id="fetch">Fetch</span> </caption>
            </div>
            
            
            {% for file in files %}
            <tr>
                <td> <a href="?pk={{file.pk}}" class="href">{{file.created}}</a> </td>
            </tr>
            {% endfor %}
        </table>
    </div>
</div>





</body>
</html>