{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="{% static 'main/css/styles.css' %}">
</head>
<body>
    <div class="container mtb">

        <div class="table_responsive">
            
            <table class="table">
    
                <div id="head">
                    <p><a href="{% url 'home'%}" id="swp"><b>STAR WARS </b> Explorer </a><a href="{% url 'collections'%}" id="href">Collections</a></p>
                </div>
    
                <div id="main">
                <caption class="caption">
                {{file_name}}.csv
                </caption>
                </div>
                
                <tr>
                    {% for i in header %}
                    <td>{{i}}</td>
                    {% endfor %}
                </tr>

                {% for i in rows %}
                <tr>
                    {% for k in i %}
                    <td>{{k}}</td>
                    {% endfor %}
                </tr>
                {% endfor %}
                
            </table>
        </div>
    </div>
    
</body>
</html>