{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="{% static 'main/css/styles.css' %}">
</head>
<body>
<main>
<div class="container mtb">

    <div class="table_responsive">

        <table class="table">
            <div id="head">
                <p><a href="{% url 'home'%}" id="swp"><b>STAR WARS </b> Explorer </a><a href="{% url 'collections'%}" id="href">Collections</a></p>
            </div>

            <div id="main">
                
            </div>
            <thead>
                <tr>
                {% for name in people.results.0 %}
                    {% if name not in blackbox %}
                        <th>{{name}}</th>
                    {% endif %}
                {% endfor %}
                </tr>
            </thead>

            <tbody>
            {% for i in people.results %}
            <tr>
            {% for key, value in i.items %}
            {% if key not in blackbox %}
            {% if key not in planet_not_valid %}
            {% if key not in get_date %}
                <td>{{value}}</td>
            {% else %}
            {% for key, value in valid_date.items %}
            {% if key == i.name %}
                <td>{{value}}</td>
            {% endif %}
            {% endfor %}
            {% endif %}
            {% else %}
            {% for key, value in planet.items %}
            {% if key == i.name %}
                <td>{{value}}</td>
            {% endif %}
            {% endfor %}
            {% endif %}
            {% endif %}
            {% endfor %}
            </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>
</div>
</main>
<footer>
    
    <div class="container">
        {% if validated %}
        <button class="minimal-indent"><a href="{{next_page}}" class="href">Load more</a></button>
        {% endif %}
    
        <form action="{% url 'addfile' %}" method="post" class="button">
            {% csrf_token %}
            <input type="hidden" value="{{real_page}}" name = pk>
            <button type="submit" class="minimal-indent">Download</button>
        </form>
        
    </div>
    
    
</footer>
</body>
</html>